################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Decorator/.vs/Decorator/CopilotIndices/17.12.53.23981
/src/Decorator/.vs/Decorator/FileContentIndex
/src/Decorator/.vs/Decorator/v17
/src/Decorator/Decorator.Api/obj
/src/Decorator/.vs/Decorator/DesignTimeBuild
/src/Decorator/Decorator.BusinessLayer/obj
/src/Decorator/.vs
/src/Decorator/Decorator.Api/bin/Debug/net9.0
/src/Decorator/Decorator.BusinessLayer/bin/Debug/net9.0
/src/Decorator/Decorator.ClassLibrary/bin/Debug/net9.0
/src/Decorator/Decorator.ClassLibrary/obj
/src/Decorator/Decorator.DataAccessLayer/bin/Debug/net9.0
/src/Decorator/Decorator.DataAccessLayer/obj
